.admin-base-container{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    background-color: #0b2e13;
    width: 100%;
    height: 50vh;
    flex-direction: column;
}

.config-item-container {
    display: flex;
    background-color: red;
    width: 100%;
    padding: 80px 0px 80px 0px;
    margin: 10px 0 10px 0;
    color: rgba(255, 255, 255, 0.5);
}

.config-item-left {
    background-color: #0c525d;
    width: 60%;
    height: 100%;
}

.config-item-right {
    font-size: 400%;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 100%;
    transition: 0.5s;
}

.config-item-right:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.5s;
}
